<a href="https://colab.research.google.com/github/JaiswalFelipe/Learning-Python/blob/main/PythonPrgBootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Imports

import pandas as pd
import numpy as np

In [ ]:
#for making functions later
#this is the allwaste_vs_co2_2012to19
dummy_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DataCommonsScotland/Demo/allwaste_vs_co2_2012to19.csv')

### **Basics**

In [ ]:
#New line in output "\n"
print("hello \nworld")

hello
world

In [ ]:
#Indention "\t"
print("hello \n\tworld")

hello
	world

In [ ]:
# "\" serves as an escape character
print('how\'s it going?')

# also can be done by using double quotations ("") 
print("how's it going?")

how's it going?
how's it going?

In [ ]:
#Print func Exercise
print('One, \'two\', \"three\", four, \\five\\\n\tonce,\'I\' caught a\ fish\n\t\t\'//alive\\\\\'')

One, 'two', "three", four, \five\
	once,'I' caught a\ fish
		'//alive\\'

In [ ]:
#Basic program: calculating are of a circle given the radius
radius = float(input('Enter the circle radius \n'))

pi = 3.14159
area = pi * radius**2


print('You endtered',radius, ', the area of the circle is',area)

Enter the circle radius
5
You endtered 5.0 , the area of the circle is 78.53975

In [ ]:
#Converting fahrenheit to celcius

far = float(input('Enter temp in fahrenheit \n'))
cel = (far - 32) * 5/9

print(far,'fahrenheit in celcius is',cel)

Enter temp in fahrenheit
60
60.0 fahrenheit in celcius is 15.555555555555555

In [ ]:
#Sum of 2 numbers
first_number = int(input('Please enter first number >>> '))
second_number = int(input('Please enter second number >>> '))
print('the sum of ' + str(first_number) + ' and ' + str(second_number)
+ ' is ' + str(first_number + second_number))

Please enter first number >>> 23
Please enter second number >>> 21
the sum of 23 and 21 is 44

In [ ]:
#Product
num_1 = int(input('Please enter first number >>>'))
num_2 = int(input('Please enter second number >>>'))
product = num_1 * num_2
print('the product of ',num_1, 'and ' ,num_2, 'is ', product)

Please enter first number >>>123
Please enter second number >>>123
the product of  123 and  123 is  15129

### **Conditionals**

In [ ]:
grade = float(input('Enter grade \n'))

if grade < 50:
  print('your grade ',grade, 'is failed')
elif grade >= 50 and grade < 70:
  print('your grade ',grade, 'is merit')
elif grade >= 70 and grade <= 100:
  print('your grade ',grade, 'is distinction')
elif grade >= 101:
  print('get the fuck oout! lol')
else:
  print('Please take the exam')

Enter grade
300
get the fuck oout! lol

In [ ]:
#converting to lower and uppercase
my_string = 'Hello World'

#print(my_string.upper())
print(my_string.lower())

hello world

### **For loops and Lists**

In [ ]:
my_list = [1,21,31,41,51,123]

for i in range(6):
  print(my_list[i])

1
21
31
41
51
123

In [ ]:
#some functions in python
data = [32,51,123,546,2131,512,12]

print(sorted(data))
print(max(data))
print(sum(data))

[12, 32, 51, 123, 512, 546, 2131]
2131
3407

In [ ]:
#some methods
sorted_data = sorted(data)
sorted_data.append(3000)
sorted_data.extend([4000,5000])
sorted_data.remove(12)
sorted_data.reverse()

sorted_data

[5000, 4000, 3000, 2131, 546, 512, 123, 51, 32]

### **While loop**

In [ ]:
n = 10

while n > 0:
  print(n)
  n = n-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
count = 0
class_names =  []
name = input('Please enter name, and type n to stop:')

while name != 'n':
  count += 1 
  class_names.append(name)
  print(f'{name} has been added.')             #new print way
  name = input('Next name?:')

print(f'There are {count} people in the family, they are {class_names}')

Please enter name, and type n to stop:Bunok Seniora
Bunok Seniora has been added.
Next name?:Bunok 2
Bunok 2 has been added.
Next name?:Bunok 3
Bunok 3 has been added.
Next name?:Bunoknok
Bunoknok has been added.
Next name?:ME
ME has been added.
Next name?:n
There are 5 people in the family, they are ['Bunok Seniora', 'Bunok 2', 'Bunok 3', 'Bunoknok', 'ME']

### **modulo %**
Gives the remainder

In [ ]:
45 % 5

0

In [ ]:
110%15

5

### **Practical Challenge**

In [ ]:
'''
Question 1
Ask the user for two numbers between 1 and 100. Then count from the
lower number to the higher number. Print the results to the screen.
'''

num_1 = int(input('Choose number between 1 - 100:> '))
num_2 = int(input('Choose number between 1 - 100:> '))

while num_1 < 0 and num_2 < 0 or num_1 > 100 and num_2 > 100:
  print('Invalid numbers, please try again')
  num_1 = int(input('Choose number between 1 - 100:> '))
  num_2 = int(input('Choose number between 1 - 100:> '))
if num_1 < num_2:
  for i in range(num_1,num_2+1):
    print(i, end=' ')
else:
  for i in range(num_2,num_1+1):
    print(i, end=' ')

Choose number between 1 - 100:> 23
Choose number between 1 - 100:> 26
23 24 25 26

In [ ]:
'''
Question 2
Ask the user to input a string and then print it out to the screen in
reverse order (use a for loop).
'''
word = str(input('Enter word: '))

print()
print(word[::-1])

Enter word: python is fun

nuf si nohtyp

### **Dictionaries**

In [ ]:
#Python modules
#import math        
#import random

In [ ]:
my_dick = {"Mine":"Big", "yours":"SMALL", "your dad's":"MICROSCOPIC LOL"}

In [ ]:
my_dick["your dad's"]

'MICROSCOPIC LOL'

In [ ]:
print(my_dick.items())
print(my_dick.keys())
print(my_dick.values())

dict_items([('Mine', 'Big'), ('yours', 'SMALL'), ("your dad's", 'MICROSCOPIC LOL')])
dict_keys(['Mine', 'yours', "your dad's"])
dict_values(['Big', 'SMALL', 'MICROSCOPIC LOL'])

In [ ]:
#Standard way = we iterate over the key
for dick in my_dick:
  print(dick)

Mine
yours
your dad's

In [ ]:
#Iterate over the key,value pairs too
for k,v in my_dick.items():
  print(f'kind of dicks= {k} is {v}')

kind of dicks= Mine is Big
kind of dicks= yours is SMALL
kind of dicks= your dad's is MICROSCOPIC LOL

In [ ]:
#checking for a particular key in a dic
if 'Mine' in my_dick:
  print('yes')

yes

### **Zip function**

In [ ]:
# Zip function
my_list_1 = [1,2,3,4,5]
my_list_2 = ["a","b","c","d","e"]

joined = list(zip(my_list_1, my_list_2))

joined

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [ ]:
#Unpacking using ZIP
i, j = zip(*joined)

print(i)
print(j)

(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd', 'e')

In [ ]:
#.split()
stringy = "Hello ! My name is blab bla bla"
sample_split = stringy.split(' ')

print(sample_split)

['Hello', '!', 'My', 'name', 'is', 'blab', 'bla', 'bla']

In [ ]:
#.strip
for i in range(len(sample_split)):
  sample_split[i] = sample_split[i].strip('\n')   #removes new line char (not present in this case)

print(sample_split)

['Hello', '!', 'My', 'name', 'is', 'blab', 'bla', 'bla']

### **Summary**
- List = MUTABLE
- Dict = MUTABLE (WHEN YOU WANT TO MATCH KEYS TO VALUES
- TUPLES = IMMUTABLE
- Strings = IMMUTABLE
- SETS = MUTABLE (UNIQUE VALS)

In [ ]:
#Add extra dimensions to Lists and Dicts

another_list = [[1,2,3], [4,5,6], [7,8,9]]

print(another_list[2])
print(another_list[2][1])

[7, 8, 9]
8

In [ ]:
#Dict
countries = {"Norway":{"Capital": "Oslo", "Lang": "Norwegian"}, "UK":{"Capital":"London", "Lang": "English"}}

In [ ]:
countries['Norway']

{'Capital': 'Oslo', 'Lang': 'Norwegian'}

In [ ]:
for key, value in countries.items():
  print(key,value)

Norway {'Capital': 'Oslo', 'Lang': 'Norwegian'}
UK {'Capital': 'London', 'Lang': 'English'}

In [ ]:
#Access info from nested dict
for key, value in countries.items():
  print(f'{value["Capital"]} is the capital of {key}, they speak {value["Lang"]}')

Oslo is the capital of Norway, they speak Norwegian
London is the capital of UK, they speak English

### **Import counters** and **Comprehensions**

In [ ]:
from collections import Counter

In [ ]:
#stringy = "Hello ! My name is blab bla bla"
print(Counter(stringy.lower()))

Counter({' ': 7, 'l': 5, 'a': 4, 'b': 4, 'e': 2, 'm': 2, 'h': 1, 'o': 1, '!': 1, 'y': 1, 'n': 1, 'i': 1, 's': 1})

In [ ]:
#to dict
new_dict = dict(Counter(stringy.lower()))

new_dict

{' ': 7,
 '!': 1,
 'a': 4,
 'b': 4,
 'e': 2,
 'h': 1,
 'i': 1,
 'l': 5,
 'm': 2,
 'n': 1,
 'o': 1,
 's': 1,
 'y': 1}

In [ ]:
#Dictionary Comprehension
another_dict = {k:v for k,v in new_dict.items() if k.isalpha()} #alphanumeric

another_dict

{'a': 4,
 'b': 4,
 'e': 2,
 'h': 1,
 'i': 1,
 'l': 5,
 'm': 2,
 'n': 1,
 'o': 1,
 's': 1,
 'y': 1}

In [ ]:
#Noob way
M = []
for x in range(1,11):
 M.append(x**2)

print(M)
print()

#List Comprehension: PYTHONIC WAY
m = [x**2 for x in range(1,11)]

print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### **SOME PRACTICAL**
- Fibonacci
- datetime

In [ ]:
#Write a python code that will create a dictionary kontaining key, value pairs that represent the
#first 12 values of the Fibonacci sequence

n = 12
a = 0
b = 1
d = dict()
for i in range(1,n+1):
  d[i] = a
  a,b = b, a+b

print(d)

{1: 0, 2: 1, 3: 1, 4: 2, 5: 3, 6: 5, 7: 8, 8: 13, 9: 21, 10: 34, 11: 55, 12: 89}

In [ ]:
#Date Time
import datetime

today = datetime.date.today()
xmas = datetime.date(2021,12,25)
delta = xmas - today

print(f'Just {delta.days} days until Christmas!')

Just 195 days until Christmas!

### **Files and Functions**

##### Write

In [ ]:
#Write on files, or create
f = open('Kate.txt','w')

In [ ]:
f.write('I don\'t really know how many roadblocks there is, \n')

f.write('I can\'t really count how many people are against us, \n')

f.write('I don\'t really know how many times these will try to break us apart, \n')

f.write('But I only know one thing, \n')

f.write('I\'ll jump off the plane at any height if you hold my hand.')

f.close()

##### Read

In [ ]:
r = open('/content/Kate.txt','r')

print(r.read())   #Read all lines
r.close()

I don't really know how many roadblocks there is,
I can't really count how many people are against us,
I don't really know how many times these will try to break us apart,
But I only know one thing,
I'll jump off the plane at any height if you hold my hand.

In [ ]:
r = open('/content/Kate.txt','r')

print(r.readline())  #Line by line (first line)
r.close()

I don't really know how many roadblocks there is,

In [ ]:
r = open('/content/Kate.txt','r')

content = r.readlines()   #lines put into a list (assigned to a variable)
print(content)  

r.close()

["I don't really know how many roadblocks there is, \n", "I can't really count how many people are against us, \n", "I don't really know how many times these will try to break us apart, \n", 'But I only know one thing, \n', "I'll jump off the plane at any height if you hold my hand."]

##### Append

In [ ]:
 f = open('/content/Kate.txt', 'a')

 f.write('\n You\'ve told me about the hell-loop you went through, \n')

 f.write('and the one that you still walk into, \n')

 f.write('Come with me and share with mine, I will carry you through. \n')

 f.write('A better husband, I cannot promise, \n')

 f.write('But a husband, in this life-time and the nexts')

 f.close()

In [ ]:
#Efficient way (with open)
with open ('/content/Kate.txt','r') as f:
  for line in f.readlines():
    print(line,end='')

#### **Functions**
**THE CONCEPT OF ABSTRACTION**
- Additional: Use of "*" as part of the argument

In [ ]:
def hello():
   print('hello world')

hello()

hello world

In [ ]:
for i in range(5):
  hello()

hello world
hello world
hello world
hello world
hello world

In [ ]:
#Function with argument
def hi(name):
  print(f'Hello, {name}!')

hi('Kate')

Hello, Kate!

In [ ]:
#Keyword argument
def hi_2(name='Kate'):
  print(f'I love, {name}')

#hi_2()   #WILL DEFAULT TO 'Kate' if left empty)
hi_2('Eunice')

I love, Eunice

In [ ]:
#Fibbo in function
def fib(n):     #Header

  a = 0         #Body of the function which calcus the fibo sequence
  b = 1
  for i in range(n):
    a,b = b,a+b
  return a

In [ ]:
fib_num = fib(25)  #put the func into a variable; here "n" is 20
print(fib_num)

75025

In [ ]:
#Put function into a for loop
for i in range(20):
  print(fib(i))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [ ]:
#Using Docstring '''
def fib(n):     #Header
  '''
  Here is a Docstring to explain what the function does;
  So here calculates and returns the nth fib
  '''
  a = 0         #Body of the function which calcus the fibo sequence
  b = 1
  for i in range(n):
    a,b = b,a+b
  return a

In [ ]:
#Using * which means if we don't exactly know how many inputs are we passing to our function, please still calculate/handle it

def calc_mean(first, *remainder): #remainder will be a tuple
  '''
  This calculates the mean of numbers
  '''
  mean = (first + sum(remainder))/ (1 + len(remainder))
  print(type(remainder))
  return mean

print(calc_mean(23,42,67,123,53,66,1234)) #You can make this how long you want because we used *

<class 'tuple'>
229.71428571428572

In [ ]:
#Recursion: Functions ability to call themselves
#Can be computationally expensive!!!

### **Classes**

##### Basics

In [ ]:
#Class
class Patient(object):
  '''Medical centre patient'''

  #Method: function inside a class
  #__init__ function: Create variables which contains vals for each instance of the object(Patient)
  #Constructor: Constructs and initializes the variables below and takes these args: (self,name,age)
  #Placeholder 'self' means we don't know the name of the object that the class is going to create because that's up to the user
  #But whatever it's called we want these values "name,age" be equal to the variables below
  def __init__(self,name,age):

    self.name = name     #Creates a var called name
    self.age = age

In [ ]:
Kate = Patient('Kate Felipe',23)
jb = Patient('JB Felipe',27)

print(Kate.name)
print(Kate.age)
print(jb.name)
print(jb.age)

Kate Felipe
23
JB Felipe
27

##### Class Variables

In [ ]:
class Patient(object):
  '''Medical centre patient'''

  status = 'patient'    #This is the class variable
 
  def __init__(self,name,age):

    self.name = name    
    self.age = age   

Kate = Patient('Kate Felipe',23)
jb = Patient('JB Felipe',27)

In [ ]:
#Using the class variable
Kate.status

'patient'

##### Methods
- function inside a class is called a method

In [ ]:
class Patient(object):
  '''Medical centre patient'''

  status = 'patient'    #This is the class variable
 
  def __init__(self,name,age):  #This is a method

    self.name = name    
    self.age = age   
  
  def get_details(self):    #THIS IS THE NEW METHOD TO DEMONSTRATE
    print(f'Patient record: {self.name}, {self.age} years.')

Kate = Patient('Kate Felipe',23)
jb = Patient('JB Felipe',27)

In [ ]:
#Using the method above "get_details"
Kate.get_details()

Patient record: Kate Felipe, 23 years.

In [ ]:
class Patient(object):
  '''Medical centre patient'''

  status = 'patient'    
 
  def __init__(self,name,age):  

    self.name = name    
    self.age = age 
    self.conditions = []   #New variable; an empty list
  
  def get_details(self):    
    print(f'Patient record: {self.name}, {self.age} years.' \
          f'Current information: {self.conditions}.')   #remember to include the content of "self.conditions" variable

  def add_info(self,information):   #New method
    self.conditions.append(information) #will refer to the empty list

Kate = Patient('Kate Felipe',23)
jb = Patient('JB Felipe',27)

In [ ]:
#Using the "add_info" method
Kate.add_info("JB Felipe's wife")

In [ ]:
#Testing
Kate.get_details()

Patient record: Kate Felipe, 23 years.Current information: ["JB Felipe's wife"].

##### Inheritance
- Create new classes that are derived from other classes
- These new classes become the "Child" classes of the "Parent" Classes from which they're derived.

In [ ]:
#"Patient" is the parent class from code above, and "Infant" a child class of class "Patient"
#"Infant" class will INHERIT everything from "Patient" class 
class Infant(Patient):
  ''' Attributes
      ----------
      name: Patient name
      age: Patient age
      conditions: Existing medical conditions
  '''

  def __init__(self,name,age):
    self.vaccinations = []   #new variable for this class
    #super() function searches the parent class for this command "__init__(name,age)"
    #It initialises the variables from the parent class
    super().__init__(name,age)  

  def add_vac(self,vaccine):
    self.vaccinations.append(vaccine)

  def get_details(self):
    print(f'Patient record: {self.name}, {self.age} years.' \
          f'Patient has had: {self.vaccinations} vaccines.' \
          f'Current Information: {self.conditions}.' \
          f'\n{self.name} IS AN INFANT')

minibee = Infant('Minibee', 0)
#Using add_vac method on the instance
minibee.add_vac('MMR')

In [ ]:
minibee.get_details()

Patient record: Minibee, 0 years.Patient has had: ['MMR'] vaccines.Current Information: [].
Minibee IS AN INFANT

##### Some practicals

In [ ]:
'''
Question 1

Create a class to represent a bank account. It will need to have a balance,
a method of withdrawing money, depositing money and displaying the balance to
the screen. Create an instance of the bank account and check that the methods 
work as expected.
'''

class BankAccount(object):
    ''' Docstring to go here'''
    
    def __init__(self,balance=0.0):
        self.balance = balance
        
    def display_balance(self):
        print(f'Your balance is {self.balance}')
        
    def make_deposit(self):
        amount = float(input('How much would you like to deposit?:> '))
        self.balance += amount
        print(f'Balance is now {self.balance}.')
        
    def make_withdrawal(self):
        amount = float(input('How much would you like to withdraw?:> '))
        if amount > self.balance:
            print(f'You do not have sufficient funds, your balance is {self.balance}')
        else:
            self.balance -= amount
            print(f'Withdrawal successful: balance is now {self.balance}.')

In [ ]:
my_bank = BankAccount(300)

In [ ]:
my_bank.display_balance()

Your balance is 300

In [ ]:
my_bank.make_deposit()

How much would you like to deposit?:> 300
Balance is now 600.0.

In [ ]:
my_bank.make_withdrawal()

How much would you like to withdraw?:> 700
You do not have sufficient funds, your balance is 600.0

In [ ]:
'''
Question 2
 Create a circle class that will take the value of a radius and 
 return the area of the circle
'''
import math

class Circle(object):
    ''' Represents a circle with radius. Calculates area.'''
    
    def __init__(self,radius):
        self.radius = radius
        
    def calc_area(self):
        area = math.pi * (self.radius)**2
        return area

In [ ]:
#Now create a circle
my_circle = Circle(20)

#and calcu it's area
my_circle.calc_area()

1256.6370614359173

### **General Tips**
- python.org
- stackoverflow
- pep8: Naming conventions i.e. "MY FUNCTION" = my_function, "MY CLASS" = MyClass
- Comment your code
- Plan before you code

### **Big O**
- How much time and space it takes a computer to do something with a particular algo.
- It's a measure of how a particular algo scales when you throw more data at it

- **Constant Time**: Just go into the end of an array (so run independently from how many number of items in that array) --> this will happen in constant time. 


- **Linear Time or O(n)**: THROUGH EVERY ITEM(in the array) and write it's price down. Linear Time means: as (n) grows, the time to complete the task also grows 


- **O(n^2)**: Take each item, and for each item, compare it to all the other items, and write down whether it's more expensive or less than that item at that place. As (n) grows, the time it is to process (n) increases as n^2. (I.E. Nested loops)


- **N-Factorial O(n!)**: Take the items on the shelf and put them in every possible config to see which one looks best for maximizing sales. As (n) increases, the time to process (n) increases as N-Factorial. AVOID

- **Summary**: It is importart in terms of **choosing efficient algos** to consider the **time complexity** of the algo that you are using specially if the amount of data that you are processing starts to grow